@import url('https://fonts.googleapis.com/css2?family=DotGothic16&family=Raleway&display=swap');

body {
    font-family: 'Raleway', sans-serif;
    overflow-x: hidden;
}

img {
    max-width: 100%;
}

h2 {
    font-family: 'DotGothic16', sans-serif;
}

table.table.table-sm {
    border-bottom: #cee39d;
}

.navbar {
    background: #05486e;
    z-index: 10001;
}

/* .navbar-brand {
    font-size: x-large;
} */

.title-case {
    font-size:xxx-large;
    
}

nav a {
    font-family: 'DotGothic16', sans-serif;
    font-size: larger;
}

section {
    padding-left: 25%;
    padding-right: 25%;
    padding-top: 150px;
    padding-bottom: 150px;
}

.section-1 {
    background-color: #cee39d;
    padding-top: 200px;
}

.green-section-header {
    font-size: 5rem;
    color: #05486e;
}

.green-section-body {
    color: #05486e;
}

.blue-section-header {
    font-size: 5rem;
    color: whitesmoke;
}

.blue-section-body {
    color: whitesmoke;
}

.section-2 {
    background-color: #05486e;
}

.section-3 {
    background-color: #f8b195;
}

.section-1-blend-footer {
    background: linear-gradient(#cee39d, #f8b195);
}

#before-footer {
    margin-top: 10rem;
    color: #05486e;
}

footer {
    background-color: #f8b195;
}

/* Building Blocks Animation */
#fun-with-blocks {
    height: 100vh;
    width: 100%;
    background-color: #cee39d;
    padding-top: 75px;
    z-index: -10000;
    overflow-x: hidden;
    overflow-y: hidden;
}

.animate-block {
    transition-property: transform;
    transition-duration: 0.5s;
}

.animate-block:hover {
    opacity: 100%;
    transform: scale(1.2);
}

.one-line-intro-container {
    position: absolute;
    width: 50%;
    left: 25%;
    top: 50%;
    padding: 10px;
    z-index: 10000;
}

#one-line-intro-background {
    background-color: #cee39d;
    opacity: 0.5;
}

#one-line-intro {
    color: #05486e;
    font-family: 'DotGothic16', sans-serif;
    font-weight: 700;
    text-align: center;
    margin: 0px;
}

#time {
    background-color: #05486e;
    color: white;
}

/* .perspective {
    transform: rotate3d(-1, 0.2, 0.5, 75deg);
} */

/* .perspective {
    transform: skew(-60deg, 0deg) translate(50%, 0px);
} */